<div class="popup pop-search">
<span class="button b-close"><span>X</span></span>
<form accept-charset="UTF-8" action="/admin/villages/<%= @village.id %>" class="formtastic sub_district"  method="put" novalidate="novalidate">
<fieldset class="inputs has_many_fields"><ol><li class="string input required stringish" id="sub_district_villages_attributes_0_code_input"><label class="label" for="sub_district_villages_attributes_0_code">Kode Desa<abbr title="required">*</abbr></label><input maxlength="255" name="poll_id" type="text">
<li><input name="commit" type="submit" value="Cari"></li></ol></fieldset>
</form>
</div>